{% extends "base.twig" %}

{% set page_title %}Try Rector Online{% endset %}

{% block main %}
    <div class="card mt-4 mb-5">
        <div class="card-header">Rector version: {{ rector_version }}</div>
    </div>

    <div id="rector_run_form" class="mt-4 mb-5">
        {{ form_start(demo_form) }}

        {# @var rector_run \Rector\Website\Demo\Entity\RectorRun #}

        {% if rector_run.hasRun and rector_run.successful != true %}
            <div class="alert alert-danger mb-5">
                <strong>Rector could not run due to error:</strong>

                {{ rector_run.fatalErrorMessage | trim | nl2br }}

                {% if rector_run.getErrors != [] %}
                    <ul class="mt-3 ml-0 pl-4">
                        {% for error in rector_run.getErrors %}
                            {# @var error \Rector\Website\ValueObject\Error #}
                            <li>
                                {{ error }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        <div class="card mb-5">
            <div class="card-header">Input Code</div>
            <div class="card-body p-0 mb-0">
                {{ form_row(demo_form.content) }}
            </div>
        </div>

        {# @var rector_run \Rector\Website\Demo\Entity\RectorRun #}
        {% if rector_run.successful %}
            <div class="card bg-warning border-warning mb-4">
                <div class="card-header text-bold">
                    What did Rector change?
                </div>
                <div class="card-body p-0">
                    <textarea class="codemirror_diff">{{ rector_run.contentDiff }}</textarea>
                </div>
            </div>

            {# @var rector_run \Rector\Website\Demo\Entity\RectorRun #}
            {% if rector_run.appliedRules is not empty %}
                <div class="row">
                    <div class="pt-0 pb-4 col-12 col-sm-6">
                        <p class="mb-2">Applied Rules:</p>

                        <ul class="list-noindent">
                            {% for applied_rule in rector_run.appliedRules %}
                                <li>
                                    {# @var applied_rule \Rector\Website\Demo\ValueObject\AppliedRule #}
                                    <a href="{{ applied_rule.getGitHubReadmeLink }}">
                                        {{ applied_rule.shortClass }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="pt-0 pb-4 col-12 col-sm-6">
                        <p class="mb-2">Is the result wrong?</p>
                        <a href="{{ rector_run|issue_link }}" class="btn btn-danger">Create an issue</a>

                        {% if rector_run.canCreateFixture %}
                            <a href="{{ rector_run|pr_link }}" class="btn btn-primary ml-3">Create a Test</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="card mb-5">
            <div class="card-header">
                Config&nbsp;&nbsp;<code>rector.php</code>
            </div>

            <div class="card-body p-0">
                {{ form_row(demo_form.config) }}
            </div>
        </div>

        <div class="mt-3 mb-5 text-center">
            {{ form_row(demo_form.process) }}
        </div>

        {{ form_end(demo_form) }}

        <br>
    </div>
{% endblock %}
