{% extends "base.twig" %}

{% set page_title %}Try Rector Online{% endset %}

{% block main %}
    <div id="rector_run_form" class="mt-4 mb-5">
        {{ form_start(demo_form) }}
        {{ form_row(demo_form.content) }}
        {{ form_row(demo_form.config) }}

        {# @see http://symfony.com/doc/current/security/csrf.html#csrf-protection-in-login-forms #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="mt-5 text-center">
            {{ form_row(demo_form.process) }}
        </div>

        {{ form_end(demo_form) }}
    </div>

    {% if rector_run is not null %}
        <div class="mt-4 mb-5" id="demo_result">
            {# @var rector_run \Rector\Website\Demo\Entity\RectorRun  #}
            {% if rector_run.successful %}
                <pre><code class="language-diff">{{ rector_run.contentDiff }}</code></pre>
            {% else %}
                <div class="alert alert-danger">
                    {{ rector_run.errorMessage }}
                </div>
            {% endif %}

            {% if rector_run.appliedRules is not empty %}
                <div class="mt-5">
                    <h2 class="mb-4">Applied Rules</h2>

                    <ul class="list-noindent">
                        {% for applied_rule in rector_run.appliedRules %}
                            <li>
                                <a href="{{ applied_rule|github_readme_link }}">
                                    {{ applied_rule }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
