<br>

<div class="row mt-5" id="reference">
    {% for reference in references %}
        <div class="col-md-2 col-sm-4 mb-5 mt-2">
            <div class="text-center">
                <img src="{{ reference.photo }}" alt="" class="img-fluid rounded-circle img-thumbnail">
            </div>
        </div>
        <div class="col-md-10 col-sm-8 mb-5">
            <div class="text-left">
                <div class="reference-text">
                    <q class="quote">{{ reference.text|markdown|raw }}</q>
                </div>

                <div class="mt-2">
                    <strong class="name">
                        {% if reference.link is defined %}<a href="{{ reference.link }}">{% endif %}
                        {{ reference.name }}
                        {% if reference.link is defined %}</a>{% endif %}
                    </strong>{% if reference.position is defined %} &ndash; {{ reference.position }}{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
