<nav class="navbar navbar-expand navbar-dark bg-dark mobile-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if is_current_routes(["blog", "post"]) %}active{% endif %}">
                    <a href="{{ path('blog') }}" class="nav-link">Blog</a>
                </li>

                <li class="nav-item {% if is_current_routes(["mission"]) %}active{% endif %}">
                    <a href="{{ path('mission') }}" class="nav-link">Mission</a>
                </li>

                <li class="nav-item {% if is_current_routes(["demo", "demo_detail"]) %}active{% endif %} hidden-sm-down">
                    <a href="{{ path('demo') }}" class="nav-link">Demo</a>
                </li>

                <li class="nav-item {% if is_current_routes(["contact"]) %}active{% endif %}">
                    <a href="{{ path('contact') }}" class="nav-link">Contact</a>
                </li>

                <li class="nav-item">
                    <a href="http://github.com/rectorphp/rector" class="nav-link">
                        <em class="fab fa-github fa-lg"></em>
                    </a>
                </li>
            </ul>
        </div>

        <div id="top_right_logo">
            <a href="{{ path('homepage') }}">
                <img class="hidden-sm-down" src="{{ asset('assets/images/logo/rector-white.svg') }}" alt="">
                <em class="hidden-md-up fas fa-home fa-lg text-light"></em>
            </a>
        </div>
    </div>
</nav>
