{% extends "base.twig" %}

{% set page_title %}Try Rector Online{% endset %}
{% set small_headline_design = true %}

{% block main %}
    <div class="container-fluid mt-5 pl-5 pr-5 {% if rector_run is not null %}short{% endif %}" id="demo">
        {% form_theme demo_form 'bootstrap_4_layout.html.twig' %}

        <div id="rector_run_form">
            {{ form_start(demo_form) }}
                <div class="row">
                    <div class="col-12 col-md-6">
                        {{ form_row(demo_form.content) }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(demo_form.config) }}

                        {# @see http://symfony.com/doc/current/security/csrf.html#csrf-protection-in-login-forms #}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <br>

                        {{ form_row(demo_form.process) }}

                        {% if rector_run is not null %}
                            <p class="mt-4 pt-3">
                                Permalink:
                                <a href="{{ path('demo_detail', {'rectorRun': rector_run.id }) }}">{{ rector_run.id }}</a>
                            </p>
                        {% endif %}
                    </div>
                </div>

            {{ form_end(demo_form) }}
        </div>
    </div>

    {% if rector_run is not null %}
        <div class="container-fluid mt-5 mb-0 pl-5 pr-5 pb-4" id="demo_result">
            <br>

            <h3 class="mt-0 mb-4 text-left">Result</h3>

            {# @var rector_run \Rector\Website\Entity\RectorRun  #}
            {% if rector_run.successful %}
                <pre class="language-diff"><code class="language-diff">{{ rector_run.contentDiff }}</code></pre>
            {% else %}
                <div class="alert alert-danger">
                    {{ rector_run.errorMessage }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
