{% extends "base.twig" %}

{% set page_title %}Try Rector Online{% endset %}

{% block main %}
    <div class="container" id="subpage">
        <div class="row" style="min-height: 30em">
            <div class="col-12 col-md-6">
                <h2 class="m-0">Input</h2>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form(form) }}
            </div>
            <div class="col-12 col-md-6">
                <h2 class="mt-0 mb-0">Result</h2>
                    {% if rector_run is not null %}
                        {% if rector_run.successful %}
                            <pre class="language-diff"><code class="language-diff">{{ rector_run.contentDiff }}</code></pre>
                        {% else %}
                            <div class="alert alert-danger">
                                {{ rector_run.errorMessage }}
                            </div>
                        {% endif %}

                        Permalink:
                        <a href="{{ path('demo_detail', {'id': rector_run.id }) }}">{{ rector_run.id }}</a>
                    {% else %}
                        ...
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
