{% extends "base.twig" %}

{% block main %}
    <div id="homepage">
        <h1 class="main-title text-center" id="claim-title">
            The Way You can Finally
            <br>
            <span class="text-rector-green" id="typewriter"></span>
        </h1>

        <div class="text-bigger">
            <p>
                Rector <strong>instantly upgrades</strong> PHP code and handles <strong>automated refactoring</strong> for you.
                <br>
                It's precise and blazing fast with 5 000 files under a minute.
            </p>
        </div>

        <div class="text-center mt-5 mb-5 bigger-buttons">
            <a href="{{ path('company_cooperation') }}" class="btn btn-lg btn-primary me-4">Hire Upgrade Team</a>
            <a href="{{ path('demo') }}" class="btn btn-lg btn-success">Try It Online</a>
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>
            We Turn <span class="text-rector-blue">Legacy Code</span> into
            <br>
            <span class="text-rector-blue">Valuable and Sustainable Code</span>
        </h2>

        <div class="blockquote">
            We're here to help every company and developer on the planet to get out of legacy PHP.<br>
            Reduce maintenance, cut costs of features to fractions and shift focus back to <strong>feature delivery and sustainable code</strong>.
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>
            We Deliver <span class="text-rector-blue">10x Faster and Cheaper</span><br>
            thanks to Experience with <span class="text-rector-blue">50+ Upgrades</span>
        </h2>

        <div class="row">
            <div class="col-7">
                <img src="/assets/images/rector_chart.png" alt="Rector Chart" class="img-fluid img-thumbnail">
            </div>

            <div class="col-5">
                <blockquote class="blockquote clearfix">
                    <div>
                        "90 % problems we'll face for the first time and don't know about yet,<br>
                        you've already seen and know how to solve."
                    </div>
                    <footer class="blockquote-footer mt-2 pull-right me-3">
                        One of our Honest Clients
                    </footer>
                </blockquote>

                <br>
                <br>

                <div class="mt-4">
                    {% include "_snippets/line/hired_us_line.twig" %}
                </div>
            </div>
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>
            Rector <span class="text-rector-blue">Empowers your Project</span>
        </h2>

        <div class="row text-center" id="rector_effects">
            <div class="col-4">
                <em class="fas fa-piggy-bank fa-3x text-rector-green"></em>
                <p>
                    Cheaper Features &nbsp;<em class="fa text-rector-green fa-check-double fa-fw"></em>
                </p>
            </div>

            <div class="col-4">
                <em class="fas fa-users fa-3x text-rector-blue"></em>
                <p>
                    Faster Onboarding &nbsp;<em class="fa text-rector-green fa-check-double fa-fw"></em>
                </p>
            </div>

            <div class="col-4">
                <em class="fas fa-smile-beam fa-3x text-rector-green"></em>
                <p>
                    Happier Developers &nbsp;<em class="fa text-rector-green fa-check-double fa-fw"></em>
                </p>
            </div>
        </div>

        <br>

        <div class="text-center mt-5">
            <a href="{{ path('contact') }}" class="btn btn-success btn-lg m-auto">
                Hire us to make your Project Awesome
            </a>
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>
            What Companies <span class="text-rector-blue">Love&nbsp;about&nbsp;Rector</span>?
        </h2>

        <blockquote class="blockquote clearfix">
            <img src="https://user-images.githubusercontent.com/77585053/110624233-37728500-819e-11eb-9efb-269e161c2ad4.jpeg" class="rounded-circle img-face-smaller-left shadow me-5" alt="">

            <p>
                "Thanks to Rector, we were able to quite simply refactor the core of our API, which <strong>saved a lot of work</strong> that our developers would otherwise have to do manually."
            </p>
            <footer class="blockquote-footer mt-2">
                Milan Mimra, CTO at Spaceflow
            </footer>
        </blockquote>

        <hr class="quote-border-line">

        <blockquote class="blockquote clearfix">
            <img src="https://www.adamgleiss.com/images/face.jpg" class="rounded-circle img-face-smaller-right shadow me-5" alt="">

            <p class="ms-5">
                "I'm <strong>extremely pleased with the progress</strong> we are making.<br>
                It's really come a long way."
            </p>

            <footer class="blockquote-footer mt-2 ms-5">
                William Adam Gleiss, VP of Technology at aRes Travel
            </footer>
        </blockquote>

        <hr class="quote-border-line">

        <blockquote class="blockquote clearfix">
            <img src="https://user-images.githubusercontent.com/77585053/110624235-38a3b200-819e-11eb-9ecc-a8f7b62d3da3.jpeg" class="rounded-circle img-face-smaller-left shadow me-5" alt="">

            <p>
                "From upgrading our legacy projects and <strong>improving team's productivity, to making code review easier and reliable</strong>, Rector is in the center within our PHP ecosystem."
            </p>
            <footer class="blockquote-footer mt-2">
                Nathan Page, Technical Lead at EONX
            </footer>
        </blockquote>

        <br>

        <div class="text-center mt-5">
            <a href="{{ path('for_companies') }}" class="btn btn-primary btn-lg m-auto me-4">
                Check More Projects we Upgraded
            </a>

            <a href="{{ path('contact') }}" class="btn btn-success btn-lg m-auto">
                Contact us to join Satisfied Clients
            </a>
        </div>
    </div>

    <script>
        var app = document.getElementById('typewriter');

        var typewriter = new Typewriter(app, {
            loop: true,
            cursor: '*',
        });

        // @see https://safi.me.uk/typewriterjs/
        typewriter.typeString('Upgrade PHP')
            .pauseFor(600)
            .deleteChars(3)

            .typeString('Framework')
            .pauseFor(1200)
            .deleteAll()

            .typeString('Remove Legacy Code')
            .pauseFor(1200)
            .deleteChars(11)

            .typeString('Technical Debt')
            .pauseFor(1200)
            .deleteAll()

            .typeString('Improve Code Quality')
            .pauseFor(1200)
            .start();
    </script>
{% endblock %}
