{% extends "base.twig" %}

{% set page_title %}
    Frustration research
{% endset %}

{% block subtitle %}
    Please, share your frustrations, we will choose one of you and help you to lower them :-). How much are you frustrated and for what reasons?<br>
    This research will be shared anonymously, to help you understand and map what is going on on PHP community.
{% endblock %}

{% block main %}

    <div class="container">
        <small>We will not send you any bullshits (marketing, advertisement etc.)</small>

        {% form_theme research_form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(research_form) }}

        {{ form_row(research_form.php_version) }}
        {{ form_row(research_form.framework) }}
        {{ form_row(research_form.composer) }}
        {{ form_row(research_form.composer_up_to_date) }}
        {{ form_row(research_form.external_tools) }}
        {{ form_row(research_form.continuous_integration) }}
        {{ form_row(research_form.test_coverage) }}
        {{ form_row(research_form.team_size) }}
        {{ form_row(research_form.project_age) }}
        {{ form_row(research_form.project_size) }}
        {{ form_row(research_form.frustration_level) }}
        {{ form_row(research_form.frustration_reasons) }}
        {{ form_row(research_form.improvements_suggestions) }}
        {{ form_row(research_form.company_web) }}
        {{ form_row(research_form.contact_email) }}
        {{ form_row(research_form.contact_name) }}
        {{ form_row(research_form.submit) }}

        {{ form_end(research_form) }}
    </div>
{% endblock %}
