{% extends "base.twig" %}

{# @var \Rector\Website\Blog\ValueObject\Post post #}
{% set page_title %}{{ post.title }}{% endset %}

{% block main %}
    <div id="post">
        <div class="mt-3">
            <time datetime="{{ post.dateTime|date('Y-m-D') }}" class="mono-font text-grey">
                {{ post.dateTime|date }}
            </time>
        </div>

        <h1>{{ post.title }}</h1>

        <div class="pull-left mb-5 text-grey mono-font" id="share_buttons">
            Share:

            <a href="{{ post.tweetLink }}" class="ml-3">
                <em class="fab fa-twitter"></em>
                Twitter
            </a>

            <a href="{{ post.facebookLink }}">
                <em class="fab fa-facebook"></em>
                Facebook
            </a>

            <a href="{{ post.linkedinLink }}">
                <em class="fab fa-linkedin"></em>
                LinkedIn
            </a>


        </div>

        {% if post.updated %}
            <div class="card border-success card-bigger mt-5">
                <div class="card-header text-white bg-success">
                    <strong>{{ post.updatedSince|date("F Y") }} Update</strong>
                </div>
                {% if post.updatedMessage is not null %}
                    <div class="card-body pb-2">
                        {{ post.updatedMessage|markdown|raw }}
                    </div>
                {% endif %}
            </div>

            <br>
        {% endif %}


        <div class="perex">{{ post.perex|markdown|raw }}</div>

        <div class="text-body">
            {% if post.isContribution %}
                <div class="card pull-right ml-3" id="contribution_box">
                    <div class="card-body text-smaller">
                        <div style="float: left">
                            <img src="https://github.com/{{ post.contributor }}.png" class="rounded-circle mt-1 mr-3" style="max-width: 2.3em">
                        </div>

                        <div style="float: left">
                            Contributed by<br>
                            <strong>
                                <a href="https://github.com/{{ post.contributor }}">{{ post.contributor }}</a>
                            </strong>
                            in <a href="https://github.com/rectorphp/rector/pull/{{ post.pullRequestId }}">#{{ post.pullRequestId }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {{ post.htmlContent|raw }}
        </div>

        <br>
        <br>
        <br>

        <div class="container">
            {% include "_snippets/disqus_comments.twig" %}
        </div>

        <br>
    </div>
{% endblock %}
