---
layout: "_layouts/subpage.twig"
form_link: "https://forms.gle/Re59dSrBkUXAdT4m9"
---

<div class="container">
    <h1>1-Month Framework Migration Challenge</h1>

    <blockquote class="blockquote">"It's not possible."</blockquote>
    <blockquote class="blockquote">"It's like these fake adds on losing 10 kg per week."</blockquote>
    <blockquote class="blockquote">"It's a lie."</blockquote>

    <br>

    <p>
        This is what we've heard after we migrated from Nette to Symfony in 80 hours. We know it's true and <strong>so does the happy customers</strong>:
    </p>

    <div class="card mb-3">
        <div class="card-body">
            <div class="row mt-1 mb-2 pl-5 pb-2" id="reference">
                <div class="col-md-2 col-sm-4">
                    <div class="mt-2 text-center">
                        <img src="/assets/images/references/jan_mikes.jpg" alt="" class="img-fluid mx-auto rounded-circle img-thumbnail">

                        <div class="mt-4">
                            <strong class="name">
                                <a href="https://entry.do">Jan Mikes</a>
                            </strong>
                            <p class="mb-0 font-weight-bold">CTO</p>

                            <br>

                            <img src="/assets/images/references/entrydo.png" alt="" class="w-100 img-fluid mx-auto reference-company-logo object-fit">
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 pl-5">
                    <div class="mx-auto text-left">
                        <div class="mt-3">
                            <div class="mt-2 reference-text">
                                <q class="quote">Rector helped us to <strong>get rid of our frustration</strong> with Nette application by migrating it to Symfony.
                                    <br>
                                    <br>
                                    Before, we could only dream of it. But <strong>within nearly 17 days with Rector refactoring, we had our 55 000+ lines</strong> app (150+ routes) running on Symfony 4.2 in production.
                                    <strong>What a joy</strong>!</q>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>
        But Rector is here for all people with project of all frameworks and all sizes and we want to prove it even more.
    </p>

    <p>
        That's why we organize the <em>1-Month Framework Migration Challenge</em>, to get more case studies that demonstrate what Rector can do for you.
        <strong>During 1 month, we'll migrate your framework A to your framework B</strong>. Does it sound crazy? No, it's just super simple.
    </p>

    <br>
</div>

<div class="section bg-light">
    <div class="container">
        <h2>
            Migrated projects
            &nbsp;
            <em class="fas fa-check text-success fa-lg"></em>
        </h2>

        <p>
            These are the projects we've already migrated and projects we look for. Some of them are free, some of them are paid, so we can develop Rector and make it better, reliable and get it closer to omnipotent instant upgrade and refactoring tool.
        </p>

        <table class="table table-bordered mt-5 mb-4 bg-white" id="migrated_projects">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Project</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Size (loc)</th>
                    <th>Team</th>
                    <th>Hours of Work</th>
                    <th>Case Study</th>
                </tr>
            </thead>

            {% for migrated_project in migrated_projects %}
                <tr>
                    <td class="text-center align-middle">
                        <a href="{{ migrated_project.web }}">
                            <img src="{{ migrated_project.image }}" style="max-height: 1.5em" alt="{{ migrated_project.name }}">
                        </a>
                    </td>
                    <td class="text-center align-middle">
                        <img src="/assets/images/logo/{{ migrated_project.from }}.png" alt="">
                    </td>
                    <td class="text-center align-middle">
                        <img src="/assets/images/logo/{{ migrated_project.to }}.png" alt="">
                    </td>
                    <td class="text-right align-middle">{{ migrated_project.source_loc }}</td>
                    <td class="text-right align-middle text-nowrap">{{ migrated_project.people }} people</td>
                    <th class="text-right align-middle text-nowrap">{{ migrated_project.hours_of_work }} hrs</th>
                    <td>
                        {% if migrated_project.case_study_link is defined %}
                            <a href="{{ migrated_project.case_study_link }}" class="btn btn-warning">Read Case Study</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            {% for open_spot in open_spots %}
                <tr>
                    <td class="text-center align-middle">?</td>
                    <td class="text-center align-middle">
                        <img src="/assets/images/logo/{{ open_spot.from }}.png" alt="">
                    </td>
                    <td class="text-center align-middle">
                        <img src="/assets/images/logo/{{ open_spot.to }}.png" alt="">
                    </td>
                    <td colspan="2" class="text-center align-middle">
                        ?
                    </td>
                    <td class="text-right align-middle">
                        < 1 month
                    </td>
                    <td class="text-center align-middle">
                        <a class="btn btn-success text-center" href="{{ form_link }}">
                            Get {% if open_spot.is_free %}Free{% else %}Paid{% endif %} Spot
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <p>
            We have only limited amount of spots for each migration. We reserve right to reject projects for insufficient capacity.
        </p>
    </div>
</div>

<div class="section">
    <div class="container">
        <h2 class="text-center">How does the Cooperation look like?</h2>

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mt-1 mb-4">Project Acceptance Criteria</h3>

                    <ul class="list-noindent">
                        <li>commercial project</li>
                        <li>at least 50 000 lines of PHP code (measured by <a href="https://github.com/sebastianbergmann/phploc">phploc</a>, without tests, fixtures, migrations and templates)</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mt-1 mb-4">We Need from You</h3>

                    <ul class="list-noindent">
                        <li>NDA that allows us share anonymous data of migration in case study</li>
                        <li>cooperation and open mind</li>
                        <li>share "why" do you want to migrate</li>
                    </ul>
                </div>
            </div>
        </div>

        <h3>E.g. from Nette to Symfony we Will Help you With</h3>

        <ul class="list-noindent">
            <li>migrate PHP code from Nette to Symfony conventions</li>
            <li>Nette to Symfony mentoring</li>
            <li>migrate Latte to Twig</li>
            <li>migrate NEON to YAML</li>
            <li>migrate Nette\Tester to PHPUnit</li>
        </ul>
    </div>
</div>

<div class="section bg-light text-center">
    <div class="container">
        <p>
            <strong>Do you want to be among first who migrate in speed of light?</strong>
            <br>
            Fill the request form and we'll get back to you in 7 days:
        </p>

        <div class="text-center mt-5">
            <a href="{{ form_link }}" class="btn btn-primary btn-lg">
                <em class="fas fa-rocket fa-fw"></em>
                &nbsp;
                Ask for Framework Migration
            </a>
        </div>
    </div>
</div>
